.fara{
    text-align: center;
    color: black;
    background-color: rgb(128, 210, 243);
    border: solid red 5px;
    border-radius: 25px;
}
.safi{
    text-align: center;
    background-color: yellow;
    color: green;
}

.gez input{
    width: 1200px;
    height: 35px;
}
.fez input{
    background-color: rgb(88, 184, 244);
    color: white;
    width: 300px;
    font-size: 25px;
}
.rer{
    text-align: center;
    width: 100%;
    color: white;
}